<h1>Demo#gogo</h1>
<p> this is my First page!</p>
<p> i was linked here! </p>
<p>the first page redirected</p>
<hr />

ID <%= @id %><br />
ID <%= params['id'] %><br />
Page <%= @page %><br />
Next Page <%= @page + 1 %>

<hr />

<%= params.inspect %>